<h1>You are making payment for order number: <%= @order_no %></h1>

<%= button_to "Yes",
     { :controller => :payment, :action=> :index, :page => @current_page},
     { :remote => true }
 %>
<br/>

<% redirect_to "http://localhost:3000" %>
